# ============================================================
# WEB FRAMEWORK
# ============================================================

django>=4.2,<5.0
djangorestframework>=3.14
django-cors-headers>=4.3


# ============================================================
# BRAIN TUMOR AI MODEL + XAI
# ============================================================

torch
torchvision

grad-cam
shap
captum

opencv-python
matplotlib
pillow
numpy


# ============================================================
# GOOGLE GEMINI API
# ============================================================

google-genai>=2.3.0